<div class="recipeList">
  <h1>
    {{title}}
  </h1>
  <div class="recipe-card" *ngFor="let recipe of recipes">
    <h2>
      {{recipe.name}}
    </h2>
    <h3>{{recipe.description}}</h3>
    <div>
      <button (click)="displayRecipe(recipe)" type="button" name="button">show</button>
      <button (click)="hideRecipe(recipe)" type="button" name="button">hide</button>
      <div class="show-hide-content" *ngIf="selectRecipe === recipe">
        <p>Ingredients</p>
        <ul>
          <li *ngFor="let ingredient of selectRecipe.ingredients.toString().split('.')">{{ingredient}}</li>
        </ul>
        <p>Instructions</p>
        <ul>
          <li *ngFor="let instructions of selectRecipe.instructions.toString().split('.')">{{instructions}}</li>
        </ul>
      </div>
    </div>

  </div>
</div>
