<div class="recipeList">
  <h1>
    {{title}}
  </h1>
  <div class="recipe-card" *ngFor="let recipe of recipes">
    <h2>
      {{recipe.name}}
    </h2>
    <h3>{{recipe.description}}</h3>
    <div *ngFor="let currentRecipe of recipe">
      <div class="show-hide-content" *ngIf="selectRecipe">
        <p>Ingredients</p>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients.toString().split('.')">{{ingredient}}</li>
        </ul>
        <p>Instructions</p>
        <ul>
          <li *ngFor="let instructions of recipe.instructions.toString().split('.')">{{instructions}}</li>
        </ul>
      </div>
    </div>

    <button (click)="showRecipe(currentRecipe)">show</button>
    <button (click)="hideRecipe(currentRecipe)">hide</button>
  </div>
</div>
